---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"li">;

const breadcrumbSeparator = tv({ base: "[&>svg]:size-6" });

const { class: className, ...rest } = Astro.props;
---

<li
  role="presentation"
  aria-hidden="true"
  class={breadcrumbSeparator({ class: className })}
  {...rest}
>
  <slot>
    <Icon name="alt-arrow-right-line-duotone" class="text-default" />
  </slot>
</li>
