@import "tailwindcss";
@import "tw-animate-css";
@import "preline/variants.css";
@import "./lenis.css";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:is(.dark *));

@theme {
	--default-font-family: "Tiempos Headline", ui-serif, serif;
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--starwind-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--starwind-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-default: var(--default);
	--color-default-foreground: var(--default-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-tertiary: var(--tertiary);
	--color-tertiary-foreground: var(--tertiary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-error: var(--error);
	--color-error-foreground: var(--error-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-outline: var(--outline);
	--color-anchor: var(--anchor);
	--color-anchor-foreground: var(--anchor-foreground);

	--radius-xs: calc(var(--radius) - 0.375rem);
	--radius-sm: calc(var(--radius) - 0.25rem);
	--radius-md: calc(var(--radius) - 0.125rem);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 0.25rem);
	--radius-2xl: calc(var(--radius) + 0.5rem);
	--radius-3xl: calc(var(--radius) + 1rem);
}

@layer base {
	:root {
		--background: var(--color-teal-50);
		--background-reverse: var(--color-slate-900);
		--foreground: var(--color-teal-950);
		--card: var(--color-teal-100);
		--card-foreground: var(--color-slate-950);
		--popover: var(--color-slate-50);
		--popover-foreground: var(--color-slate-950);
		--default: var(--color-slate-900);
		--default-foreground: var(--color-slate-50);
		--primary: var(--color-teal-700);
		--primary-foreground: var(--color-slate-50);
		--secondary: var(--color-orange-600);
		--secondary-foreground: var(--color-slate-50);
		--tertiary: var(--color-indigo-600);
		--tertiary-foreground: var(--color-slate-50);
		--muted: var(--color-slate-100);
		--muted-foreground: var(--color-slate-600);
		--accent: var(--color-slate-200);
		--accent-foreground: var(--color-slate-900);
		--info: var(--color-teal-300);
		--info-foreground: var(--color-teal-950);
		--success: var(--color-green-300);
		--success-foreground: var(--color-green-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-700);
		--error-foreground: var(--color-slate-50);
		--border: var(--color-teal-400);
		--input: var(--color-teal-100);
		--outline: var(--color-teal-700);
		--anchor: var(--color-orange-500);
		--anchor-foreground: var(--color-teal-700);
		--tw-prose-links: var(--color-orange-500);
		--radius: 0.5rem;
	}

	.dark {
		--background: var(--color-teal-950);
		--foreground: var(--color-teal-50);
		--card: var(--color-teal-900);
		--card-foreground: var(--color-slate-50);
		--popover: var(--color-slate-950);
		--popover-foreground: var(--color-slate-50);
		--default: var(--color-slate-100);
		--default-foreground: var(--color-slate-950);
		--primary: var(--color-teal-700);
		--primary-foreground: var(--color-slate-50);
		--secondary: var(--color-orange-500);
		--secondary-foreground: var(--color-slate-50);
		--tertiary: var(--color-indigo-700);
		--tertiary-foreground: var(--color-slate-50);
		--muted: var(--color-slate-900);
		--muted-foreground: var(--color-slate-400);
		--accent: var(--color-teal-900);
		--accent-foreground: var(--color-slate-100);
		--info: var(--color-teal-300);
		--info-foreground: var(--color-teal-950);
		--success: var(--color-green-300);
		--success-foreground: var(--color-green-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-600);
		--error-foreground: var(--color-slate-50);
		--border: var(--color-teal-500);
		--input: var(--color-teal-700);
		--outline: var(--color-teal-500);
		--anchor: var(--color-orange-400);
		--anchor-foreground: var(--color-teal-500);
		--tw-prose-invert-links: var(--color-orange-400);
		--radius: 0.5rem;
	}

	* {
		@apply border-border;
	}
	*:focus-visible {
		@apply outline-outline;
	}
	button {
		@apply cursor-pointer;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark);
		font-style: var(--shiki-dark-font-style);
		font-weight: var(--shiki-dark-font-weight);
		text-decoration: var(--shiki-dark-text-decoration);
	}

	a {
		@apply text-anchor;
	}
	a:hover {
		@apply text-anchor-foreground;
	}
	a {
		@apply transition-colors duration-300;
	}
}

@layer utilities {
	/* Customize the styles for the Tailwind Typography plugin (.prose class applied to blog posts <article> element) */
	.prose {
		:where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
			@apply text-anchor transition-colors duration-300;
		}
		:where(a:hover):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
			@apply text-anchor-foreground;
		}
		:where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
			@apply text-base;
		}
	}

	.grid-cols-list {
		grid-template-columns: repeat(auto-fill, minmax(400px, max-content));
	}
	/* transition-colors but without outline-color transition property */
	.starwind-transition-colors {
		transition-property:
			color, background-color, border-color, text-decoration-color, fill,
			stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);
	}
}

.blog-body h2,
h3,
h4 {
	scroll-margin-top: 10rem;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

.scrollbar-hide {
	scrollbar-width: none;
}
