@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "../../node_modules/preline/variants.css";

@theme {
  --color-black: theme(colors.slate.900);
  --color-white: theme(colors.slate.100);
  --default-font-family: "Rockwell Nova", ui-serif, serif;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  a {
    @apply text-orange-600;
  }
  a:hover {
    @apply text-cyan-700;
  }
  .dark a {
    @apply text-cyan-400;
  }
  .dark a:hover {
    @apply text-orange-400;
  }
  a {
    @apply transition-colors duration-200;
  }

  /* Netlify honeypot form styles */
  .netlify-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

@layer components {
  /* Table of Contents custom styles using dynamic classes */
  .toc-active {
    background-color: var(--color-orange-600);

    @variant dark {
      background-color: var(--color-orange-800);
    }
  }
  .toc-inactive {
    background-color: var(--color-teal-800);

    @variant dark {
      background-color: var(--color-teal-800);
    }
  }
}

@layer utilities {
  .prose a {
    @apply text-orange-600;
  }
  .prose a:hover {
    @apply text-cyan-700;
  }
  .dark .prose a {
    @apply text-cyan-400;
  }
  .dark .prose a:hover {
    @apply text-orange-400;
  }
  .prose a {
    @apply transition-colors duration-200;
  }
  .prose code {
    @apply text-base;
  }

  .grid-cols-list {
    grid-template-columns: repeat(auto-fill, minmax(400px, max-content));
  }
}

.blog-body h2,
h3,
h4 {
  scroll-margin-top: 10rem;
}

.glass {
  background: rgba(57, 56, 56, 0.52);
  backdrop-filter: blur(13px) saturate(150%);
  -webkit-backdrop-filter: blur(13px) saturate(150%);
  z-index: -1;
}

.shadow {
  box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

.scrollbar-hide {
  scrollbar-width: none;
}
