---

import BaseLayout from "@/base/BaseLayout.astro";
import { Button } from "@/components/starwind/button";
import TitlePage from "@/components/ui/TitlePage.astro";
import { getTags } from "@/lib/post";
import { sluglify } from "@/lib/sluglify";

const tags = await getTags();
---

<BaseLayout title="Tags">
  <TitlePage title="Tags" iconName="tag-bold-duotone" iconClass="text-anchor" />
  <p class="mb-8 text-center">
    Select a tag below to view posts related to that tag.
  </p>

  <section
    class="mx-auto flex max-w-3xl flex-wrap justify-center gap-4 sm:gap-6"
  >
    {
      tags.map((tag) => (
        <Button
          href={sluglify(`/tags/${tag}`)}
          variant="tertiary"
          class="rounded-full px-4 py-2 text-sm font-semibold"
        >
          #{tag}
        </Button>
      ))
    }
  </section>
</BaseLayout>
