---
import BaseLayout from "@/layouts/BaseLayout";
import TitlePage from "@/components/TitlePage";
import { getTags } from "@/utils";
import { sluglify } from "@/utils";

const tags = await getTags();
---

<BaseLayout title="Tags">
  <TitlePage title="Tags" iconName="solar:tag-bold-duotone" />
  <div class="flex flex-wrap justify-center gap-4 sm:gap-6">
    {
      tags.map((tag) => (
        <a
          href={sluglify(`/tags/${tag}`)}
          class="inline-block rounded-full bg-slate-200 px-4 py-2 text-sm font-semibold dark:bg-slate-700"
        >
          #{tag}
        </a>
      ))
    }
  </div>
</BaseLayout>
