---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer class="bg-card py-8 text-center text-sm sm:text-base">
  <div class="mx-auto grid max-w-screen-lg items-center gap-4 sm:grid-cols-3">
    <div>
      <p class="mb-4">
        &copy; {today.getFullYear()}
        <span class="text-lg font-bold">LittleSquatch.Blog</span>
      </p>
      <p class="mb-4 text-sm">All Rights Reserved</p>
      <div class="mx-auto w-max">
        <Icon name="sasquatch" class="size-8" />
      </div>
    </div>
    <div class="text-sm sm:col-end-4">
      <p class="mb-4">
        This website has been built by Little Squatch aka Christopher G over at <a
          href="https://www.cobaltweb.tech/?utm_source=little-squatch-blog&utm_medium=web&utm_campaign=blog-referral&utm_content=link"
          rel="noopener"
          target="_blank"
          class="text-nowrap">Cobalt Web Technologies</a
        >.
      </p>
      <p class="mb-4">
        Do you need a new website? <a
          href="https://www.cobaltweb.tech/?utm_source=little-squatch-blog&utm_medium=web&utm_campaign=blog-referral&utm_content=link"
          rel="noopener"
          target="_blank">Check us out!</a
        >
      </p>
    </div>
  </div>
</footer>
