---

import { Icon } from "astro-icon/components";
import BaseLayout from "@/base/BaseLayout.astro";
import { Button } from "@/components/starwind/button";
import TitlePage from "@/components/ui/TitlePage.astro";
---

<BaseLayout title="Page Not Found">
  <TitlePage
    title="Page Not Found"
    iconName="close-square-bold-duotone"
    iconClass="text-error"
  />
  <div class="space-y-6 text-center font-normal">
    <h3 class="text-error text-3xl font-bold">Error 404</h3>
    <p>Oh crap, 4 oh WTF?!</p>
    <p>
      That page does not exist, but that's okay. You can go back to the home
      page.
    </p>
    <Button href="/" variant="info">
      <Icon name="home-bold-duotone" class="size-6" />
      <span>Back to Home</span>
    </Button>
  </div>
</BaseLayout>
