---

import { CldImage } from "astro-cloudinary";
import { Icon } from "astro-icon/components";
import BaseLayout from "@/base/BaseLayout.astro";
import TitlePage from "@/components/ui/TitlePage.astro";

const littleSquatchPic = "littlesquatchblog/assets/Little-Squatch-About.avif";
---

<BaseLayout title="About Me">
  <TitlePage
    title="About Me"
    iconName="info-square-bold-duotone"
    iconClass="text-anchor"
  />
  <section class="grid gap-10 lg:grid-cols-2">
    <div class="space-y-6">
      <p>Howdy there!</p>
      <p>
        <Icon name="sasquatch" class="size-16" />
      </p>
      <p>
        Who is the Little Squatch? Well my human name is Christopher Garza and
        I'm glad you stopped by to take a look at my blog.
      </p>
      <p>
        This blog is just my personal corner of the web to express my creative
        side. I am originally from Dublin, Texas, a small quiet town in
        north-central Texas. I now live in Austin, Texas where I run my own
        company.
      </p>
      <p>
        My full time job is being my own boss for my company based in Austin
        called <a
          href="https://www.cobaltweb.tech/?utm_source=little-squatch-blog&utm_medium=web&utm_campaign=blog-referral&utm_content=link"
          rel="noopener"
          target="_blank">Cobalt Web Technologies</a
        >. Working in tech field, specifically building modern web apps I built
        this blog to show off some of my photos and tell some stories to the
        world.
      </p>
      <p>
        Obvisouly, one of my hobbies is photography and travel. I definitely
        enjoy the technical aspects of photography. While I suppose I am bit
        "left-brained" and not super artistic I do try to express my creative
        side here. I'm certainly no professional photographer or even care to
        make it into a career, I just enjoy taking photos and traveling. I hope
        you enjoy taking a look at my blog and inspire you too.
      </p>
      <p>
        Thanks for stopping by and if you have any questions feel free to <a
          href="/contact">shoot me a message</a
        >.
      </p>
      <p>
        P.S. If you ever see a squatch running around in the wild don't feed or
        pet it! Stay back at least 100 feet from any wild animals please.
      </p>
    </div>
    <div>
      <CldImage
        src={littleSquatchPic}
        width={900}
        height={1200}
        format="avif"
        class="mx-auto w-3/4 rounded-lg"
        alt="Little Squatch aka Christopher Garza bio photo"
      />
    </div>
  </section>
</BaseLayout>
