---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import Shape from '../components/icons/Sasquatch.astro'
import { Image } from 'astro:assets'

import littleSquatchPic from '../assets/images/Little-Squatch-About.avif'

---
<BaseLayout title='About Me'>
	<TitlePage title='About Me' />
        <div class="grid grid-cols-2 gap-10">
            <div class='font-semibold'>
                <p class='mb-6'>
                    Howdy there! 
                </p>
                <p class='mb-6'>
                    <Shape />
                </p>
                <p class='mb-6'>
                    Who is the Little Squatch? Well my human name is Christopher Garza and I'm glad you stopped by to take a look at my blog.
                </p>
                <p class='mb-6'>
                    This blog is just my personal corner of the web to express my creative side. I am originally from Dublin, Texas, a small quiet town in north-central Texas. I now live in Austin, Texas where I run my own company. 
                </p>
                <p class='mb-6'>
                    My full time job is being my own boss for my company based in Austin called <a href='#' target='_blank'>Cobalt Web Technologies</a>. Working in tech field, specifically building modern web apps I built this blog to show off some of my photos and tell some stories to the world.
                </p>
                <p class='mb-6'>
                    Obvisouly, one of my hobbies is photography and travel. I definitely enjoy the technical aspects of photography. While I suppose I am bit "left-brained" and not super artistic I do try to express my creative side here. I'm certainly no professional photographer or even care to make it into a career, I just enjoy taking photos and traveling. I hope you enjoy taking a look at my blog and inspire you too.
                </p>
                <p class='mb-6'>
                    Thanks for stopping by and if you have any questions feel free to <a href='/contact'>shoot me a message</a>.
                </p>
                <p class='mb-6'>
                    P.S. If you ever see a squatch running around in the wild don't feed or pet it! Stay back at least 100 feet from any wild animals please.
                </p>
            </div>
            <div>
                <Image
                    src={littleSquatchPic}
                    width={900}
                    height={1200}
                    format='avif'
                    loading='eager'
                    class='rounded-md w-full object-cover'
					alt='Little Squatch aka Christopher Garza bio photo'
                />
            </div>
        </div>
</BaseLayout>
