---

import { Icon } from "astro-icon/components";
import BaseLayout from "@/base/BaseLayout.astro";
import { Button } from "@/components/starwind/button";
import { Input } from "@/components/starwind/input";
import { Textarea } from "@/components/starwind/textarea";
import TitlePage from "@/components/ui/TitlePage.astro";
---

<BaseLayout title="Contact Me">
  <TitlePage
    title="Contact Me"
    iconName="chat-line-bold-duotone"
    iconClass="text-anchor"
  />
  <p class="text-center">
    If you have any questions or comments please send the Little Squatch a
    message. If you have any complaints the Little Squatch will kindly ask you
    to keep those to yourself.
  </p>
  <div class="mx-auto my-8 w-lg">
    <form
      data-netlify="true"
      netlify-honeypot="bot-field"
      data-netlify-recaptcha="true"
      name="contact"
      method="POST"
      action="/success/"
      class="flex flex-col gap-4"
    >
      <p class="hidden">
        <label>
          Don’t fill this out if you’re human: <Input name="bot-field" />
        </label>
      </p>
      <Input
        id="name"
        type="text"
        name="name"
        placeholder="First and Last Name"
        required
      />
      <Input
        id="email"
        type="email"
        name="email"
        placeholder="Email Address"
        required
      />
      <Textarea
        id="message"
        name="message"
        placeholder="Your Message"
        maxlength="500"
        required
      />
      <div data-netlify-recaptcha="true"></div>
      <Button
        class="w-fit"
        variant="secondary"
        aria-label="Submit Message"
        type="submit"
      >
        <span>Submit Message</span>
        <Icon name="plain-3-bold-duotone" class="size-6" />
      </Button>
    </form>
  </div>
</BaseLayout>
