---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { Icon } from 'astro-icon/components'
---

<BaseLayout title='Contact Me'>
	<TitlePage title='Contact Me' />
	    <div class='flex justify-center flex-wrap gap-4'>
            <div class='m-10 min-w-64 w-1/2'>
                <form
                  data-netlify='true'
                  netlify-honeypot
                  name='contact'
                  method='POST'
                  action='/success'
                >
                  <p class='netlify-hidden'>
                    <label>
                      Don’t fill this out if you’re human: <input name='bot-field' />
                    </label>
                  </p>
                  <input type='hidden' name='form-name' value='contact' />
                  <label class='font-semibold' for='name'>Name</label>
                  <input class='w-full rounded-md border border-teal-500 bg-teal-50 dark:bg-teal-800 focus:bg-teal-100 dark:focus:bg-teal-700 my-6 py-3 px-6' id='name' type='text' name='name' required />
                  <label class='font-semibold' for='email'>Email</label>
                  <input class='w-full rounded-md border border-teal-500 bg-teal-50 dark:bg-teal-800 focus:bg-teal-100 dark:focus:bg-teal-700 my-6 py-3 px-6' id='email' type='email' name='email' required />
                  <label class='font-semibold' for='message'>Message or questions below</label>
                  <textarea class='w-full rounded-md border border-teal-500 bg-teal-50 dark:bg-teal-800 focus:bg-teal-100 dark:focus:bg-teal-700 my-6 py-3 px-6' id='message' wrap='soft' name='message' required></textarea>
                  <button class='flex flex-row gap-4 font-bold w-max-content rounded-md border border-teal-500 bg-teal-50 dark:bg-teal-800 hover:bg-teal-500 dark:hover:bg-teal-900 my-6 py-3 px-6' type='submit'>
                    <Icon name="solar:plain-3-bold" class="size-6" />
                    <span>Submit Message</span>
                  </button>
                </form>
              </div>
            </div>
</BaseLayout>
