---

import BaseLayout from "@/base/BaseLayout.astro";
import ListCategories from "@/components/post/ListCategories.astro";
import ListPosts from "@/components/post/ListPosts.astro";
import TitlePage from "@/components/ui/TitlePage.astro";
import { getPosts } from "@/lib/post";

const MAX_POSTS = 5; // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS);
---

<BaseLayout title="LittleSquatch.blog">
  <TitlePage title="Welcome to LittleSquatch.Blog" iconName="camera" />
  <ListCategories />
  <section>
    <p class="text-lg font-semibold tracking-wide">Recent Posts</p>
    <ListPosts firstColSpan={true} posts={posts} />
  </section>
</BaseLayout>
