---
import BaseLayout from "@/layouts/BaseLayout";
import TitlePage from "@/components/TitlePage";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Message Received">
  <TitlePage
    title="Message Received"
    iconName="solar:chat-round-check-bold-duotone"
  />
  <div class="mx-auto w-1/2 text-center">
    <h2 class="my-6 text-2xl font-bold">
      Thanks for Contacting the Little Squatch
    </h2>
    <p class="mb-6">
      Bet you didn't know a Sasquatch can read? Well, this one does and I
      promise to read your message and get back to you if you asked me.
    </p>
    <div class="mx-auto w-max">
      <Icon name="sasquatch" class="size-16" />
    </div>
    <p class="mb-6 font-bold">Little Squatch</p>
  </div>
</BaseLayout>
