---
export interface Props {
  buttonLink: string;
  buttonText: string;
}

const { buttonLink, buttonText } = Astro.props;
---

<button
  type="button"
  class="inline-flex items-center gap-x-2 rounded-full border border-transparent bg-indigo-600 px-4 py-3 no-underline transition-colors duration-200 hover:bg-indigo-700 focus:bg-indigo-700 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:bg-indigo-800 dark:hover:bg-indigo-600"
>
  <a href={buttonLink} class="no-underline">
    <span class="text-lg font-bold text-white">{buttonText}</span>
  </a>
</button>
