---
const today = new Date()
---

<footer class='mt-5 mb-5 pt-5 pb-5 border-t-2 text-center text-sm sm:text-base'>
	<p class="mb-4">&copy; {today.getFullYear()} LittleSquatch.blog - All rights reserved.</p>
	<p class="mb-4">This website has been built by Little Squatch aka Christopher G over at <a href='https://www.cobaltweb.tech/?utm_source=little-squatch-blog&utm_medium=web&utm_campaign=blog-referral&utm_content=link' target='_blank'>Cobalt Web Technologies</a>.</p>
	<p class="mb-4">Do you need a new website yourself? <a href='https://www.cobaltweb.tech/?utm_source=little-squatch-blog&utm_medium=web&utm_campaign=blog-referral&utm_content=link' target='_blank'>Check us out!</a></p>
</footer>
