---
const { heading } = Astro.props;

type Heading = {
  depth: number;
  text: string;
  slug: string;
  subheadings: Heading[];
};

export interface Props {
  heading: Heading;
}
---

<li class="flex flex-col">
  <a
    href={"#" + heading.slug}
    class="mb-2 line-clamp-2 w-full rounded-full px-4 py-2 text-center text-xs font-bold transition-colors duration-400 first-letter:uppercase hover:bg-orange-600 dark:hover:bg-orange-800"
  >
    <span class="text-white">{heading.text}</span>
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-3">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
