---
import { sluglify } from "@/utils";
import { Icon } from "astro-icon/components";

export interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<button type="button" class="rounded-4xl bg-orange-700" aria-label={tag}>
  <a
    href={sluglify(`/tags/${tag.toLowerCase()}`)}
    class="flex items-center justify-center px-4 py-2 transition-transform duration-150 ease-in-out hover:translate-x-1"
  >
    <Icon
      name="solar:hashtag-bold-duotone"
      class="size-4 text-white transition-transform duration-250 ease-in-out"
    />
    <span class="text-xs text-white">{tag ?? "Blog Tag"}</span>
  </a>
</button>
