---
import { Icon } from "astro-icon/components";

type Props = {
  title: string;
  iconName: string;
  iconClass?: string;
};

const { title, iconName, iconClass } = Astro.props;
---

<div class="flex w-full flex-col justify-center gap-2">
  <div class="mx-auto">
    <Icon name={iconName} class:list={["size-16", iconClass]} />
  </div>
  <h1
    class="text-center text-2xl font-bold capitalize sm:text-3xl md:pb-2.5 md:text-4xl"
  >
    {title}
  </h1>
</div>
