---
import { Icon } from 'astro-icon/components';
---
<!-- Dark Theme Toggle Button --><!-- This button is shown when the light theme is active, and when clicked, it switches the theme to dark -->
<button
  type="button"
  aria-label="Dark Theme Toggle"
  class="hs-dark-mode group flex size-8 items-center justify-center rounded-full font-medium text-indigo-800 dark:text-white hover:text-white outline-none ring-zinc-500 transition duration-300 hover:bg-indigo-800 hs-dark-mode-active:hidden dark:ring-zinc-200 dark:focus:outline-none"
  data-hs-theme-click-value="dark"
>
  <Icon name="solar:moon-stars-bold-duotone" class="size-6"/>

  <!-- Light Theme Toggle Button -->
  <!-- This button is hidden by default and only appears when the dark theme is active, when clicked, it switches to the light theme -->
</button>
<button
  type="button"
  aria-label="Light Theme Toggle"
  class="hs-dark-mode group hidden size-8 items-center justify-center rounded-full font-medium dark:text-white outline-none ring-zinc-500 transition duration-300 hs-dark-mode-active:flex dark:ring-zinc-200 dark:hover:bg-orange-400 dark:focus:outline-none"
  data-hs-theme-click-value="light"
>
  <Icon name="solar:sun-2-bold-duotone" class="size-6"/>
</button>
