---
import { Icon } from "astro-icon/components";
---

<pre
  class="shiki shiki-themes code bg-background-reverse relative"><button type="button" aria-label="copy-button" class="copy-button absolute z-20 top-2 right-2 rounded-md transition-all ease-in max-w-full max-h-fit"><Icon name="copy-bold-duotone" class="size-8" /></button><div class="check-icon hidden z-10 top-2 right-2 rounded-md transition-all ease-in max-w-full max-h-fit"><Icon name="check-square-bold-duotone" class="size-8 text-success" /></div><slot />
</pre>

<script>
  const copyBlock = () => {
    const codeBlock = document.querySelectorAll("pre");

    codeBlock.forEach((code) => {
      const copyButton = code.querySelector(".copy-button");
      const checkIcon = code.querySelector(".check-icon");

      if (copyButton) {
        copyButton.addEventListener("click", () => {
          navigator.clipboard.writeText(code.textContent?.trim() || "");
          checkIcon?.classList.remove("hidden");
          checkIcon?.classList.add("absolute");
          copyButton?.classList.remove("aboslute");
          copyButton?.classList.add("hidden");
          setTimeout(() => {
            checkIcon?.classList.add("hidden");
            checkIcon?.classList.remove("aboslute");
            copyButton?.classList.add("absolute");
            copyButton?.classList.remove("hidden");
          }, 2500);
        });
      }
    });
  };
  copyBlock(); // initial load
  document.addEventListener("astro:after-swap", copyBlock); // re-run after each page change
</script>
